.schools-container{
    display: flex;
    flex-direction: row;
}
.schools-elements{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
}
.buttons-schools{
    display: flex;
    flex-direction: column;
}

.buttons-schools input{
    border-radius: 20px;
    height: 50px;
    min-width: 800px;
    margin: 20px;
    cursor: pointer;
}
