body{
    background-color: var(--primaryBG);
    font: var(--body-font);
}
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
} 

:root{
    --primaryBG: #D0D0D0;
    --second: #031030;
    --third: #031030ed;
    --white: #ffffff;
    --fifth: #c4c4c4;
    --blue: #3737a0;
    --lightgrey: #e2e2e2;
    --black: #111;
    --body-font: 'Poppins', sans-serif, 14px;
}