.Fi{
    background: none;
    width: 50px;
}
.welcomeText{
    background-color: #3737a0;
    color: #9c9b9b;
}
ul, li{
    list-style: none;
    background-color: #3737a0;
    color: #fff;
    font-size: 16px;
    
}
.navbar{
    height: max-content;
    width: fit-content;
}

ul, .welcomeText{
    height: max-content;
    width: max-content;
    border-radius: 0 50px 50px 0;
    padding-top: 2px;
    padding-bottom: 6px;
    
}
li{
    margin-top: 10%;
    margin-right: 60px;
    padding: 2% 0 2% 0;

}

li:active{
    background-color: rgb(44, 55, 95);
    border-radius: 0 50px 50px 0;
}


.twoMenuBtns{
    color: #161515;
}
.LinkBtn{
    text-decoration: none;
}

@media (max-width: 768px) {

    
}
