.principal-subjects-container{
    display: flex;
    flex-direction: row;
}

.principal-subjects-elements{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-top: 10px;
    width: 100%;
}

.principal-form-subject{
    display: flex;
    flex-direction: column;
}

.principal-form-subject input{
    border-radius: 10px;
}

.principal-form-subject input, select{
width: 80%;
}