@import '../../App.css';

  .footer {
    background-color: var(--third);
    height: 60px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--fourth);
    padding: 0;
    margin: 0;
  }
