.principal-topics-container{
    display: flex;
    flex-direction: row;
}

.principal-topics-elements{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-top: 10px;
    width: 100%;
}

.principal-topic-modal-inputs input, select{
    display: flex;
    flex-direction: row;
    width: 80%;
}


.principal-topic-modal-inputs input{
    border-radius: 10px;
}