.users-admin-container{
    display: flex;
    flex-direction: row;
}

.admin-users-header{
    display: flex;
    flex-direction: column;
}

.admin-users-elements{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-top: 10px;
    width: 100%;
}

.users-selection, .admin-users-btns{
    min-width: 300px;
    min-height: 40px;
    border-radius: 15px;
    margin: 5px;
}

.admin-users-btns{
    margin-right: 10px;
    cursor: pointer;
}

.users-admin-create-accounts{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 5vh;
}

.create-accounts-admin-btn{
    border-radius: 15px;
    height: 40px;
    width: 80%;
    cursor: pointer;
    margin:10px;
}

/* .boxStyle{
    height: 300px;
    overflow-y: auto;
} */ /* sprawdzić stylowanie scrollbara */
