@import '../../App.css';

.role-container{
    margin: 5%;
    padding: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.boxRole{
    width: 220px;
    height: 200px;
    background-color: var(--blue);
    color: var(--lightgrey);
    border-radius: 20px;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    box-shadow: 5px -5px #5d5d5d24;
    transition: transform 0.4s ease;
}

.boxRole:hover{
    transform: scale(1.1);
}

.btnBoxRole{
    border: none;
    background: none;
}

.btnBoxRole:hover{
    cursor: pointer;
}

.roleName{
    font-size: 16px;
    font-weight: bold;
    padding-top: 25%;
}

.userName{
    padding-top: 15%;
}

@media (max-width: 870px) {
    .role-container{
        margin: auto;
        padding: auto;
        justify-content: center;
    }    
}