.principal-marks-container{
    display: flex;
    flex-direction: row;

}

.principal-marks-elements{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 80%;
}

.teacher-marks-form select{
    width: 100%;
}