@import '../../../App.css';
.student-marks-conatiner{
    display: flex;
    flex-direction: row;
}
.student-marks-elements{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
}

.student-marks-table, .student-marks-td, .student-marks-th{
    border: solid 1px black;
    min-width: 100px;
    text-align: center;
}
.student-marks-th{
    background-color: var(--blue);
}