@import '../../App.css';

.login-form{
    margin: auto;
    padding: auto;
    height: 100vh;
    width: 100vw;
    background-image: url(../../images/bg1.png);
    display: flex;
}

.login-content{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    margin: auto;
    padding: 5%;
    border-radius: 30px;
    background-color: #ffffffad;
}

#login, #password{
    width: 70%;
    border-radius: 15px;
    margin-bottom: 4%;
    height: 20px;
    background: #ffffff42;
}

#showPassword{
    margin-bottom: 1%;

}

.fi-login-eye{
    position: relative;
    right: -92%;
    transform: translateY(-199%);
    
    cursor: pointer;
}

.loginBttn{
    border-radius: 15px;
    height: 30px;
    width: 100%;
    font-size: 18px;
    background: none;
}

.loginBttn:hover{
    color: #fff5ac;
    cursor: pointer;

}

.right-login-content{
    width: 40%;
    margin:auto;
    padding: auto;
}

.p-login{
    color: #1d1d1d;
}
#forgotPassword{
    text-decoration: wavy underline;
    color: #1d1d1d;
}

.image-login{ 
    max-width: 90%;
}

.loginA{
    text-decoration: none;
    color: #1d1d1d;
}
.input-label-login{
    margin-top: 5px;
}
.input-label-login #login{
    width: 100%;
}
.input-label-login #password{
    width: 100%;
}

@media (max-width: 768px) {
    .login-content{
        margin: auto;
        padding: auto;
        display: flex;
        flex-direction: column;
        font-size: 18px;
        border-radius: 30px;
        background-color: #fff;
        text-align: center;
        align-items: center;
        
    }

    /* .password-toggle {
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translateY(-10%);
        cursor: pointer;
    } */
    
}