@import '../../../App.css';

.Fi{
    background: none;
    width: 50px;
    position: relative;
    font-size: 18px;
    text-align: center;
}
.welcomeText{
    background-color: var(--blue);
    color: #9c9b9b;
}
.menu-ul, .menu-li{
    list-style: none;
    background-color: var(--blue);
    color: #fff;
    font-size: 18px;
    
}
.navbar{
    height: max-content;
    width: fit-content;
}

.menu-ul, .welcomeText{
    height: max-content;
    width: max-content;
    border-radius: 0 50px 50px 0;
    padding-top: 2px;
    padding-bottom: 6px; 
}
.menu-li{
    margin-top: 10%;
    margin-right: 60px;
    padding: 2% 0 2% 0;

}

.menu-li:active{
    background-color: rgb(44, 55, 95);
    border-radius: 0 50px 50px 0;
}

.nav-item{
    position: relative;
    margin-left: 10px;
}

.nav-item:hover{
    color: #ffffff6f;
}

.twoMenuBtns{
    color: #161515;
    bottom: 0;
}

.LinkBtn{
    text-decoration: none;
    position: relative;
    color: #fff;
}

.LinkBtn2{
    color: #1c1c1c;
}

.box-admin-marks{
    position: 'absolute' as 'absolute';
    top: '50%';
    left: '50%';
    transform: 'translate(-50%, -50%)';
    width: 400;
    background-color: var(--lightgrey);
    border: '2px solid #000';
    box-shadow: 24;
}

@media (max-width: 768px) {

    .nav-menu{
        overflow: hidden;
        width: 90px;
        transition: width 0.2s linear;
        margin-left: -40px;
    }
    .nav-menu:hover{
        width: 280px;
        transition: all 0.5s ease;
    }

    .welcomeText{
        display: none;
    }
}
