.admin-polls-container{
    display: flex;
    flex-direction: row;
}

.admin-polls-elements{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
    width: 100%;
}


.admin-polls-buttons{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.admin-polls-buttons input{
    border-radius: 20px;
    height: 50px;
    min-width: 800px;
    margin: 20px;
    cursor: pointer;
}

.admin-polls-info{
    display: flex;
    flex-direction: column;
}

.admin-polls-info h4{
    text-align: center;
    font-size: 13pt;
}

.admin-polls-info p{
    text-align: center;
    font-size: 13pt;
}

.admin-polls-info-header{
    font-size: 15pt;
}

.admin-polls-under-construcion{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
}